<IfModule mod_rewrite.c>
addType application/x-httpd-php .js 
Options +FollowSymLinks
RewriteEngine on

RewriteCond $1 ^$
RewriteRule ^(.*)$ index.php [L]
RewriteCond $1 !^(index\.php|document|shapefile|css|plugins)
RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>
